@import './base/base';
@import './base/variable';
@import './base/typography';

@import './components/modal';
@import './components/input';
@import './components/button';
@import './components/navbar';
@import './components/sidebar';

.text-center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.align-end {
  align-items: flex-end;
}
.graphYAxis {
  transform: rotate(90deg);
}
.buttonWhite {
  background: white !important;
}

.dashboard-layout-container {
  display: flex;
  flex-direction: row;
  .right-section {
    width: 100%;
    height: 100vh;
  }
}
