// base colors
$black: #141414;
$white: #ffffff;
$light-gray: #e1e1e1;
$gray: #aaa8a8;
$dark-gray: #4d4d4d !default;

// theme colors
$primary: #7950f2 !default;
$secondary: #22b8cf !default;

//fonts
$font1: 'Inter', sans-serif;
$font2: 'Roboto Slab', sans-serif;

$link-color: #ffffff;
