// base colors
$black: #141414;
$white: #ffffff;
$light-gray: #e1e1e1;
$gray: #aaa8a8;
$dark-gray: #676767 !default;

// theme colors
$light-primary: #38d9a9;
$light-secondary: #ffd43b;
$primary: #12b886 !default;
$secondary: #fab005 !default;
$dark-primary: #099268;
$dark-secondary: #f08c00;

//fonts
$font1: 'Inter', sans-serif;
$font2: 'Roboto Slab', sans-serif;

$link-color: #ffffff;
